
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    // isApproved requires a cross-service call to Firestore.
    function isApproved() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.registrationStatus == 'approved';
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role.lower() == 'admin';
    }

    // Public read access is fine for image URLs
    match /{allPaths=**} {
      allow read;
    }

    // --- WRITE RULES ---
    // General principle: A user can only write to their own folder, and must be approved.

    match /notas/{userId}/{allPaths=**} {
      allow write: if isApproved() && isOwner(userId);
    }

    match /pelanggan_photos/{userId}/{allPaths=**} {
      allow write: if isApproved() && isOwner(userId);
    }

    match /hr_attendance/{userId}/{allPaths=**} {
      allow write: if isApproved() && isOwner(userId);
    }
    
    match /gamas-photos/{userId}/{allPaths=**} {
       allow write: if isApproved() && isOwner(userId);
    }

  }
}
