
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Allow public read access to all files so the app can display them.
    match /{allPaths=**} {
      allow read;
    }

    // Allow a signed-in user to write to their own 'notas' folder.
    match /notas/{userId}/{allPaths=**} {
      allow write: if request.auth.uid == userId;
    }
    
    // Allow a signed-in user to write to their own 'pelanggan' photos folder.
    match /pelanggan_photos/{userId}/{allPaths=**} {
      allow write: if request.auth.uid == userId;
    }

    // Allow a signed-in user to write to their own 'hr_attendance' folder.
    match /hr_attendance/{userId}/{allPaths=**} {
      allow write: if request.auth.uid == userId;
    }
    
    // Allow a signed-in user to write to their own 'gamas-photos' folder.
    match /gamas-photos/{userId}/{allPaths=**} {
       allow write: if request.auth.uid == userId;
    }

    // Allow a signed-in user to write to their own 'alker-photos' folder.
    match /alker-photos/{userId}/{allPaths=**} {
       allow write: if request.auth.uid == userId;
    }
  }
}
